$top-bar-height:48px;
$top-bar-height-mobile: 48px;
$left-menu-width:200px;

//elektro theme
/* $top-bar-color: #bd0013; 
$background-color:#323b44;
$background-elements-color:#3d4853;
$menu-background-color:#36404a;
$selected-background-color: #3d4853;
$text-primary-color:Gainsboro;
$text-secondary-color:#6c757d;  
$text-top-bar-color:white; */

// // blue violet theme
/* $background-color:#232e42;
$background-elements-color:#2f3b51;
$menu-background-color:#2f3b51;
$selected-background-color: #3d4d6b;
$text-primary-color:Gainsboro; 
$text-secondary-color:#6c757d;
$text-top-bar-color:white; 
$top-bar-color: #2f3b51;   */

// blue theme
/* $background-color:#233243;
$background-elements-color:#2f3f51;
$menu-background-color:#2f3f51;
$selected-background-color: #3d536b;
$text-primary-color:Gainsboro;
$text-secondary-color:#6c757d;
$text-top-bar-color:white; 
$top-bar-color: #2f3f51; */

// dark blue theme
$background-color:#232e42;
$background-elements-color:#2f3b51;
$menu-background-color:#232e42; 
$selected-background-color: #3d4d6b;
$text-primary-color:Gainsboro;
$text-secondary-color:#6c757d; 
$text-top-bar-color:white;
$top-bar-color: #232e42;

// mix theme
/* $background-color:#232e42; 
$background-elements-color:#2f3b51;
$menu-background-color:#2f3b51;
$selected-background-color: #3d4d6b;
$text-primary-color:Gainsboro;
$text-secondary-color:#6c757d; 
$text-top-bar-color:white; 
$top-bar-color: #5f1515;  */ 

.no-border-radius{
    .btn{
      border-radius: 0!important;;
    }
    
  }
  
  
  @mixin smallButton {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.0;
    border-radius: 0;
  }
  
  .small-button{
    @include smallButton;
  }
  
  .text-input{
    background:rgba(255, 255, 255, 0.0);
    border: 1px solid white;
    color:white;
    font-size: 0.875rem;
    padding-left:4px;
  }
  
  .table-style {
    font-size: 13px;
    color: white;
    thead {
      th {
        border-top: none;
        color: gray;
        border-bottom: solid 1px gray;
      }
    }
  
    td {
      color: white;
      border-top: dashed 1px gray;
    }
  }
  
  .scada-element{
    background:rgba(255, 255, 255, 0.2);
    min-width:80px;
  }
  
  .cursor-pointer{
    cursor:pointer;
  }
  
  .cursor-default{
    cursor:default;
  }
  
  